.navigation-bar{
    background-color: #016DB4;
    height: 90px;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
  }
  @media screen and (max-width: 800px){
    .navigation-bar{
      font-size: 10px;
  
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1000px){
    .navigation-bar{
      font-size: 14px;
  
    }
  }

  .navLink {
    color: #FFFFFF;
    margin-top: 23px;
    padding-right: 69px;
    font-size: 190%;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); */
  }

  
  @media screen and (max-width: 800px){
    .navLink{
      padding-right: 20px;
      
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1000px){
    .navLink{
      padding-right: 20px;
      
    }
  }
  


  .navLink:hover{
    color: #BAEFFF !important;
  }


  .sign-in-container{
    position: relative;
    bottom: 49px;
    margin-right: 5.8%;
    
  }
  .admin-sign-up-div{
    background-color: #FFFFFF;
    width: 190px;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content (optional) */
    position: absolute;
    right: 280px;
    top: 55px;
  }

  @media screen and (max-width: 800px){
    .admin-sign-up-div{
      width: 140px;
      height: 46px;
      right: 150px;
    }
  }


  .admin-sign-in{
    color: #0080DD;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
  }
  .customer-sign-in{
    color: white;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
  }

  .customer-sign-up-div{
    background-color: #000742;
    width: 198px;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content (optional) */
    position: absolute;
    right: 82px;
    top: 55px;
    border: 2px solid #FFFFFF; /* Replace #000 with the desired color for the stroke */
    background-color: transparent;
  }

  @media screen and (max-width: 800px){
    .customer-sign-up-div{
      width: 140px;
      height: 46px;
      right: 12px;
      
    }
  }

